# Default ignored files
/../../ Fraud Detection System /.idea/shelf/
/../../ Fraud Detection System /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../ Fraud Detection System /.idea/httpRequests/
# Datasource local storage ignored files
/../../ Fraud Detection System /.idea/dataSources/
/../../ Fraud Detection System /.idea/dataSources.local.xml
